[user]
    name =
    email =
[gui]
    encoding = utf-8
[core]
    autocrlf = true  ;自动转换换行符
    safecrlf = true  ;拒绝提交包含混合换行符的文件
    quotepath = off  ;直接显示非 ASCII 字符
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    last = log -1
    unstage = reset HEAD
    ll = log --oneline
    lg = log --graph --decorate -30 --all --date-order --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s'
    lh = log -1 --format=%h
